<% if @current_user.present? %>
  <div class="row preview-block">
  <br><br>
  <div class="col-xs-5"></div>
  <div class="col-xs-3">
      <%= link_to "Preview your profile", preview_path, class: 'btn btn-default btn-lg btn-primary' %>
  </div>
  <div class="col-xs-5"></div>
  <br><br>
  </div>
<% else %>
  <div class="row sign-in-block">
    <div class="col-xs-6 linkedin">
      <div class="col-xs-3"></div>
      <div class="col-xs-3">
        <%= link_to "Sign in with linkedin", user_omniauth_authorize_path(:linkedin), class: 'btn btn-default btn-lg btn-primary' %>
      </div>
    </div>
    <div class="col-xs-6 xing">
      <div class="col-xs-4"></div>
      <div class="col-xs-3">
        <%= link_to "Sign in with xing", user_omniauth_authorize_path(:xing), class: 'btn btn-default btn-lg btn-primary' %>
      </div>
    </div>
  </div>
<% end %>


