/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require ./flat-ui/flat-ui
 *= require_self
 */


.preview-block {
  padding: 120px 0px;
  background-color: #E0D080;
  border-radius: 5px;
}

.sign-in-block {
  border-radius: 5px;
  overflow: hidden;
}

.sign-in-block .linkedin {
  padding: 120px 0px;
  background-color: #3F88B5;
}

.sign-in-block .xing {
  padding: 120px 0px;
  background-color: #4D9370;
}

.export-block {
  border-radius: 5px;
  overflow: hidden;
}

.export-block .github {
  padding: 120px 0px;
  background-color: #FE2C1C;
}

.export-block .heroku {
  padding: 120px 0px;
  background-color: #575488;
}
