<html>
  <head>
    <meta charset="utf-8">
    <%= stylesheet_link_tag 'github_markdown', media: 'all', 'data-turbolinks-track' => true %>
    <title>Resume preview</title>
  </head>
  <body>
    <article class="markdown-body">
      <%= yield %>
    </article>
  </body>
</html>
